<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
>
    <testsuites>
        <testsuite name="LaravelUserManagement Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix=".blade.php">./src/</directory>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <env name="CACHE_DRIVER" value="array"/>
      <!--
      <env name="REDIS_HOST" value="127.0.0.1" />
      <env name="REDIS_PORT" value="6379" />
      -->
    </php>
</phpunit>